<div class="progress" style="height: 30px">
    <div class="progress-bar" role="progressbar" style="width: 66%;" aria-valuenow="Seleccion" aria-valuemin="0" aria-valuemax="100">Selección</div>
  </div>
<form   novalidate
    (ngSubmit)="select(selectform)"
    #searchform="ngForm">
    <fieldset>
        <div class="form-group">
          <div class="form-row">
            <div class="form-group col-md-4">
                  <label for="numboletos">Num Boletos</label>
                  <select id="numboletos"
                          class="form-control"
                          required
                          ngModel
                          name="numboletos"
                          #destinovar="ngModel">
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
            </div>
            <div class="form-row" *ngFor="let x of passengers">
                <div class="form-group col-lg-6">
                    <input  type="text"
                            class="form-control"
                            id="nombre" 
                            placeholder="Telefono" 
                            required>
                </div>
            </div>
          </div>
          <div class="form-row justify-content-around">
              <button type="submit" 
                      class="btn btn-success"
                      [disabled]="!searchform.valid">Aceptar
              </button>
          </div>
          </div>
    </fieldset>
    
</form>
