<div class="progress" style="height: 30px">
    <div class="progress-bar" role="progressbar" style="width: 66%;" aria-valuenow="Seleccion" aria-valuemin="0" aria-valuemax="100">Selección</div>
  </div>
<form
    (ngSubmit)="selectVal(selectform)"
    #searchform="ngForm">
    <fieldset>
        <div class="form-group">
          <div class="form-row">
            <div class="form-group col-md-4">
                  <label for="numboletos">Num Boletos</label>
                  <select id="numboletos"
                          class="form-control"
                          required
                          ngModel
                          name="numboletos"
                          #destinovar="ngModel"
                          >
                    <option value=1 selected>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                  </select>
                  <div class="form-row " *ngIf="true">
                      <input  type="text"
                              class="form-control"
                              id="nombre" 
                              placeholder="Nombre pasajero"
                              ngModel
                              name="nombre1"
                              #nombrevar="ngModel" 
                              required>
              </div>
            </div>
            
          </div>
          <div class="form-row justify-content-around">
              <button type="submit" 
                      class="btn btn-success"
                      [disabled]="!searchform.valid">Aceptar
              </button>
          </div>
          </div>
    </fieldset>
    
</form>
