<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 bg-light sidebar">
        <div class="sidebar-sticky">
            <h6 class="sidebar-heading justify-content-between align-items-center px-3 mt-4 mb-1 text-muted d-none d-lg-block">
                <span>Administrador</span>
              </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['bus']"><i class="fa fa-list-alt d-lg-none"></i><a class="">Autobuses</a><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-none d-lg-block" [routerLink]="['tickets']"><i class="fa fa-list-alt d-lg-none"></i>Boletos</a>
            </li>
          </ul>
          <h6 class="sidebar-heading justify-content-between align-items-center px-3 mt-4 mb-1 text-muted d-none d-lg-block">
            <span>Mi cuenta</span>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link d-none d-lg-block" [routerLink]="['personal']"><i class="fa fa-list-alt d-lg-none"></i>Datos Personales</a>
            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="">
            <router-outlet></router-outlet>
          </div>
        </main>
    </div>
  </div>