<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body >
  <div class="parallax"></div>
  <div class="card-group">
      <div class="card bg-dark text-white" style="width:400px;">
        <img class="card-img-top" src="/src/images/image3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">¡Descuento de estudiante!</h5>
          <p class="card-text">Si eres estudiante ya puedes comprar tu boleto con un 50% de descuento presentando la credencial con fecha vigente.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
      </div>
      <div class="card bg-transparent border-dark ">
        <img class="card-img-top" src="/src/images/image7.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-dark">Viajes disponibles actuales</h5>
          <p class="card-text">Observa ahora los viajes disponibles a nuestros diferentes destinos</p>
          <button class="btn btn-dark bg-dark">Mas información</button>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

  </div>
  <div class="parallax2"></div>
  <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
      <h3 style="text-align:center;">¿Quienes somos?</h3>
      <p> VicBus es una línea de autobuses dedicada al transporte de pasajeros haciendo enfasis en la seguridad y comodidad de los mismos. Contamos con precios accesibles y descuentos para estudiantes ademas, además de tener personal altamente capacitado para que su viaje sea lo mas placentero posible.</p>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/src/images/image6.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block" style="background-color:black; opacity:0.6; ">
        <h5>Viaja a Puerto Vallarta</h5>
        <p class="text-justify text-center">El Océano Pacífico es privilegiado por tener playas transparentes y de agua cálida, y esta bahía no es la excepción, Puerto Vallarta tiene un gran diversidad de playas hermosas para realizar cualquier actividad recreativa o de descanso. Imagina salir de pesca al amanecer, o descansar bajo el sol en una pequeña y exótica playa solitaria.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/src/images/image8.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block" style="background-color:black; opacity:0.6;">
        <h5>Viaja a Guanajuato</h5>
        <p class="text-justify text-center">Guanajuato es una antigua ciudad minera, con calles llena de mágia que invitan a caminar y descubrir cada uno de sus rincones. Esta ciudad considerada como Patrimonio de la Humanidad tiene mucho que ofrecer y regalar al turista. En Guanajuato el aburrimiento no existe, ya que siempre hay algo que hacer, ver y conocer en la capital de este maravilloso estado mexicano.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/src/images/image4.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block" style="background-color:black; opacity:0.6;">
        <h5>Viaja a la Ciudad de Mexico</h5>
        <p class="text-justify text-center">La Ciudad de México es uno de los destinos más disfrutables del mundo. Su centro histórico, mejor conocido como Zócalo, es Patrimonio de la Humanidad declarado por la UNESCO y corazón de una cultura viva que exuda todo lo acumulado desde la fundación de Tenochtitlán. Visita sus barrios inundados del art nouveau y art déco, disfruta su oferta gastronómica y piérdete por las calles de la ciudad con más museos del mundo.</p>
      </div>
    </div>
  </div>
  </div>
  <div class="parallax4"></div>
</body>