<div class="page-header">
        <h1>Autobuses</h1>
</div>
<div class="card-columns">
        
    <div class="card mb-3" style="width:300px">
        <h6 class="bg-dark text-light text-center">Bus #1</h6>
          <p class="text-withe bg-primary mb-1">Modelo</p>
          <input 
                type="text"
                class="form-control mb-1"
                name="model"
                [(ngModel)]="model"
                [disabled]="this.flag" 
                [placeholder]="this.model">
                <p class="bg-primary mb-1">Capacidad</p>
                <input 
                type="text"
                class="form-control  mb-1"
                name="capacity"
                [(ngModel)]="capacity"
                [disabled]="this.flag" 
                [placeholder]="this.capacity">
               <p class="bg-primary  mb-1">Matricula</p>
               <input 
               type="text"
               class="form-control mb-1"
               name="form_control"
               [(ngModel)]="form_control"
               [disabled]="this.flag" 
               [placeholder]="this.form_control"> 
               <p class="bg-primary  mb-1">Tipo</p>
               <input 
               type="text"
               class="form-control mb-1"
               name="types"
               [(ngModel)]="types"
               [disabled]="this.flag" 
               [placeholder]="this.types">
               <div class="card-body text-dark mb-1">
                  <div class="card border-primary mb-1">
                      <div class=" mb-1">
                        <button class="btn btn-primary col-sm-12 mb-1" (click)="this.flag = !this.flag">Cambios </button>
                      </div>
                      <div>
                      <button class="btn btn-danger col-sm-12  mb-1" (click)="delete(card['id'])">Eliminar</button>
                    </div>
                  </div>
            </div>
         </div>  
        
</div>