<div class="page-header row justify-content-between">
        <h1>Autobuses</h1>
        <button class="btn btn-outline-info col-md-4" (click)="toggleadd()">Agregar autobus</button>
</div>
<div class=" card-row">
    <form class="jumbotron" *ngIf="this.addbustoggle">
        <h4 class="display-5">Autobus nuevo</h4>
        <div class="form-row">
            <p class="lead">Modelo</p>
            <input
                  type="text"
                  class="form-control col-md-4"
                  name="newbus.model"
                  [(ngModel)]="newbus.model"
                  [placeholder]="modelo">
                  
        </div>  
        <div class="form-row">
            <p class="lead">Capacidad</p>
            <input 
            type="number"
            class="form-control col-md-4"
            name="newbus.capacity"
            [(ngModel)]="newbus.capacity"
            >
        </div>
        <div class="form-row">
            <p class="lead">Matricula</p>
            <input 
            type="text"
            class="form-control col-md-4"
            name="newbus.plate"
            [(ngModel)]="newbus.plate" 
            [placeholder]="placa">
            </div>     
        <div class="form-row">
            <p class="lead">Tipo</p>
            <select name="newbus.type" id="type" [(ngModel)]="newbus.type" required>
                <option value="austero">Austero</option>
                <option value="De lujo">De lujo</option>
            </select>
        </div>
        <div class="row justify-content-end">
            <button class="btn btn-outline-info" (click)="addbus()">Agregar autobus</button>
        </div>
    </form>
    </div>
<div class="card-rows">  
    <form class="jumbotron" *ngFor="let bus of buses;let i=index">
        <h4 class="display-5">Autobus #{{bus["id"]}}</h4>
        <div class="form-row">
            <p class="lead">Modelo</p>
            <input
                  type="text"
                  class="form-control col-md-4"
                  name="buses[i].model"
                  [(ngModel)]="buses[i].model"
                  [disabled]="!this.model_edit[i]" 
                  [placeholder]="bus.model">
                  <button type="button" class="btn btn-outline-dark col-md-2" (click)="this.model_edit[i] = !this.model_edit[i];this.update_change[i]=true">Editar</button>
        </div>  
        <div class="form-row">
            <p class="lead">Capacidad</p>
            <input 
            type="text"
            class="form-control col-md-4"
            name="buses[i].capacity"
            [(ngModel)]="buses[i].capacity"
            [disabled]="!this.capacity_edit[i]"
            [placeholder]="bus.capacity">
            <button type="button" class="btn btn-outline-dark col-md-2" (click)="this.capacity_edit[i] = !this.capacity_edit[i];this.update_change[i]=true">Editar</button>
        </div>
        <div class="form-row">
            <p class="lead">Matricula</p>
            <input 
            type="text"
            class="form-control col-md-4"
            name="buses[i].plate"
            [(ngModel)]="buses[i].plate"
            [disabled]="!this.plate_edit[i]" 
            [placeholder]="bus.plate">
            <button type="button" class="btn btn-outline-dark col-md-2" (click)="this.plate_edit[i] = !this.plate_edit[i];this.update_change[i]=true">Editar</button>
        </div>     
        <div class="form-row">
            <p class="lead">Tipo</p>
            <input 
            type="text"
            class="form-control col-md-4"
            name="buses[i].type"
            [(ngModel)]="buses[i].type"
            [disabled]="!this.type_edit[i]" 
            [placeholder]="bus.type">
            <button type="button" class="btn btn-outline-dark col-md-2" (click)="this.type_edit[i] = !this.type_edit[i];this.update_change[i]=true">Editar</button>
        </div>     
        <button class=" btn btn-outline-info col-md-4" (click)="updatebus(bus)" *ngIf="update_change[i]">Actualizar Datos</button>
        <button class=" btn btn-danger col-md-4" (click)="deletebus(bus)">Eliminar</button>   

      </form>  
        
</div>