<div class="row">
  <div id="area" *ngFor="let card of cards">
    <div class="master-card col-md-12">
      <div class="card">
        <div class="title">Tarjeta de {{card["type"]}}</div>
        <div class="input-number"><span class="title-number">Numeros de tarjeta</span>
          <div class="inputs-number">
              <button class="btn btn-dark inputs-number" id="btn-options" (click)="delete(card['id'])">Eliminar</button>
              <button class="btn btn-dark inputs-number" id="btn-options" (click)="toggledetails(card['id'])">Detalles</button>
              <input type="text" maxlength="4" name="number-card" [placeholder]="getNumbers(card['number'],0,4)" disabled/>
              <input type="text" maxlength="4" name="number-card" [placeholder]="getNumbers(card['number'],4,8)" disabled/>
              <input type="text" maxlength="4" name="number-card" [placeholder]="getNumbers(card['number'],8,12)" disabled/>
              <input type="text" maxlength="4" name="number-card" [placeholder]="getNumbers(card['number'],12,16)" disabled/>
          </div>
          <div class="selects-date selecters">
            <div class="day-select"><span>Dia</span>
              <select id="dates">
                <option selected>{{getNumbers(card["date"],0,2)}}</option>
              </select>
            </div>
            <div class="year-select"><span>Año</span>
              <select id="dates">
                <option selected>{{getNumbers(card["date"],3,5)}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="mark-gold">
            <div class="round">
              <div class="circles">
                <div class="circle-1"></div>
                <div class="circle-2" *ngIf="card['company']=='MasterCard'"></div>
                <div class="circle-3" *ngIf="card['company']=='Visa'"></div>
              </div>
            </div>
            <div class="name"><span>{{card["owner"]}}</span></div>
        </div>
        
      </div>
      <div class="card-back">
        <div class="tire"></div>
        <div class="secret-area">
          <input type="text" name="number-card" placeholder="XXXX" disabled />
        </div>
        <div class="chip-card"></div>
      </div>
      
    </div>
    
  </div>
  <div class="col-md-12 button-sent">
      <button id="continue" class="btn btn-success col-md-3" [disabled]="!this.blockButton" (click)="this.blockButton=false">Atras</button>
      <button id="back" class="btn btn-success col-md-3" style="margin-left:1%;" [disabled]="this.blockButton" (click)="this.blockButton=true">Adelante</button>
  </div>
  <!--<div class="card border-dark col-md-4" style="max-width:400px"  *ngFor="let card of cards">
  <img class="card-img-top" src="/src/images/mastercard.jpg" *ngIf="card['company']=='MasterCard'" alt="Card image">
  <img class="card-img-top" src="/src/images/visa.png" *ngIf="card['company']=='Visa'" alt="Card image">
    <div class="card-body text-dark row">
      <h4 class="card-title col-sm-12"> {{card["owner"]}} </h4>
      <h6 class="card-text col-sm-12">{{card["number"]}} </h6>
      <h6 class="card-text col-sm-4 text-muted text-center">Valida hasta</h6>
      <p class="card-text col-sm-4 text-center">{{card["date"]}}</p>
      <div class="col-md-12">
        <button class="btn btn-dark col-md-6" (click)="delete(card['id'])">Eliminar</button>
        <button class="btn btn-dark col-md-6" (click)="toggledetails(card['id'])">Detalles</button>
      </div>
    </div>
  </div> -->
</div>
<div class="row">
    <button class="btn btn-info col-sm-3 offset-md-8" (click)="toggleNew()">Agregar Tarjeta</button>
</div>
<div class="jumbotron" *ngIf="details">
    <h5>Detalles de tarjeta</h5>
  <div class="row" *ngFor="let item of report">
    <label>Mensaje: </label>
    <strong>{{item["message"]}}</strong>
    <label>Fecha: </label>
    <strong>{{item["date"]}}</strong>
    <label>Hora: </label>
    <strong>{{item["time"]}}</strong>
    <hr class="my-4">
  </div>
</div>
<app-edit-card *ngIf="addnew"></app-edit-card>
<router-outlet></router-outlet>
//AQUI ME QUEDE