<body>
  <h5 class="text-center">Tarjetas dadas de alta del usuario {{card["user"]}} </h5>
  <div class="container principalContainer">
    <div class="col cards" *ngFor="let card of cards">
      <div class="col-sm-12">
        <div class="card-header">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Propietario {{card["user"]}}</h5>
              <h6 class="card-subtitle mb-2 text-muted"> Tarjeta {{card["company"]}} </h6>
              <p class="card-text"> Numeros de la tarjeta: {{card["numbers"]}} </p>
              <div class="row">
               <p class="card-text col-sm-6 text-left">Nip: {{card["nip"]}} </p>
               <p class="card-text col-sm-6 text-rigth">Fecha de vencimiento: {{card["expiration"]}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>